# Ignore Python cache
*__pycache__

# Ignore environment files
wandb/

# Ignore slurm
slurm*

# Ignore training results
training_results/

# Ignore evaluation results
evaluation_results/

# Ignore datasets
local_datasets/

# Ignore jobs
jobs/

# Ignore amltignore
.amltignore

./data_generation/relaxed_preprocess_data.py
model_cache